.adv-stats-header {
	text-align: center;
}

.adv-stats-items {
	position: relative;
	margin-top: 50px;
	padding: 80px 0;

	&::before {
		content: "";
		position: absolute;
		top: 40%;
		transform: translateY(-50%);
		background-color: $cyan;
		height: 10px;
		width: 100%;
	}
}

.adv-stats-item {
	position: relative;
	grid-column: span 4;
	background-color: $white;
	border-radius: 5px;
	padding: 30px;
	padding-top: 70px;
	height: fit-content;
	box-shadow: $raised-shadow;

	p {
		font-size: $small-font-size;
	}

	&:first-child {
		margin-top: -40px;
	}

	&:last-child {
		margin-top: 40px;
	}
}

.adv-stats-icon {
	position: absolute;
	top: 0;
	transform: translateY(-50%);
	display: inline-block;
	background-color: $dark-violet;
	border-radius: 100%;
	padding: 20px;
	box-sizing: border-box;
	
	img {
		display: block;
	}
}
