.adv-stats-header {
	text-align: center;
}

.adv-stats-items {
	position: relative;
	margin: 130px 0 80px;

	&::before {
		content: "";
		position: absolute;
		top: 35%;
		background-color: $cyan;
		height: 10px;
		width: 100%;
	}
}

.adv-stats-item {
	position: relative;
	grid-column: span 4;
	background-color: $white;
	border-radius: 5px;
	padding: 30px;
	padding-top: 70px;
	height: fit-content;
	height: -moz-max-content;
	height: -webkit-max-content; 
	box-shadow: $raised-shadow;

	p {
		font-size: $small-font-size;
	}

	&:first-child {
		margin-top: -40px;
	}

	&:last-child {
		margin-top: 40px;
	}
}

.adv-stats-icon {
	position: absolute;
	top: 0;
	transform: translateY(-50%);
	display: inline-block;
	background-color: $dark-violet;
	border-radius: 100%;
	padding: 20px;
}


@include media-breakpoint-down("lg") {
	.adv-stats-items {
		display: block;
		margin-bottom: 40px;

		&::before {
			top: 0;
			left: 50%;
			transform: translateX(-50%);
			background-color: $cyan;
			height: 100%;
			width: 10px;
		}
	}

	.adv-stats-item {
		text-align: center;

		> * {
			margin-top: 0;
		}
	
		&:not(:last-child) {
			margin-bottom: 100px;
		}
	}

	.adv-stats-icon {
		&:not(:last-child) {
			left: 50%;
			transform: translate(-50%, -50%);
		}
	}
}