.btn {
	display: inline-block;
	background-color: $cyan;
	padding: 10px 40px;
	border-radius: 9999px;
	color: $white;
	font-weight: $bold-weight;
	font-size: $medium-font-size;
	@include ease-transition(background-color);

	&:hover, &:focus {
		background-color: $pale-cyan;
	}

	&.btn-sm {
		padding: 7px 25px;
		font-size: $small-font-size;
	}
}
