body {
	font: $p-font;
	color: $very-dark-blue;
}

* {
	outline: none;
	box-sizing: border-box;
}

h1, h2, h3, p {
	margin: 0;
	margin-bottom: 10px;
	padding: 0;
}

h1, h1 a {
	font: $h1-font;

	@include media-breakpoint-down("xl") {
		font-size: 48px;
	}
	
	@include media-breakpoint-down("lg") {
		font-size: 38px;
	}

	@include media-breakpoint-down("sm") {
		font-size: 40px;
	}
}

h2, h2 a {
	font: $h2-font;
}

@include media-breakpoint-down("sm") {
	h2, h2 a {
		font-size: 26px;
	}
}

p {
	font: $p-font;
	color: $grayish-violet;
}

a {
	color: $grayish-violet;
	text-decoration: none;
	font-weight: $medium-weight;
	@include ease-transition(opacity);

	&:hover, &:focus {
		opacity: 60%;
	}
}

button {
	border: none;
	cursor: pointer;
	background: none;
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

img {
	display: block;
}

@include media-breakpoint-down("xl") {
	.br-xl {
		display: none;
	}
}

@include media-breakpoint-down("lg") {
	.br-lg {
		display: none;
	}
}
