.footer {
	background-color: $very-dark-violet;
	color: $white;
	font-size: $small-font-size;
}

.footer-div {
	> * {
		grid-column: span 2;
	}

	> :first-child {
		grid-column: span 4;
	}
}

.footer-links {
	margin-top: 20px;
	color: $gray;

	li {
		margin-bottom: 5px;
	}
}

.footer-socials {
	display: flex;
	align-items: center;
	height: fit-content;

	img {
		width: 25px;
	}

	> :not(:last-child) {
		margin-right: 25px;
	}
}

@include media-breakpoint-down("xl") {
	.footer-div {
		> :not(:last-child) {
			margin-bottom: 40px;
		}

		> :not(:last-child) {
			grid-column: span 3;
		}
	}
}

@include media-breakpoint-down("md") {
	.footer-div {
		> :not(:last-child) {
			grid-column: span 6;
		}
	}
}

@include media-breakpoint-down("sm") {
	.footer-div {
		display: block;
		text-align: center;
	}

	.footer-logo, .footer-socials {
		width: fit-content;
		margin: auto;
	}
}
