.navbar {
	display: flex;
	justify-content: space-between;
	padding: 50px 0 20px;
	font-size: $small-font-size;
}

.nav-logo {
	margin-bottom: -5px;
}

.nav-link {
	color: $grayish-violet;
	font-weight: $bold-weight;
	@include ease-transition(color);

	&:hover, &:focus {
		color: $dark-violet;
	}
}

.desktop-navbar {
	ul {
		display: flex;
		align-items: center;
	}

	li:not(:last-child) {
		margin-right: 30px;
	}

	li.nav-logo {
		margin-right: 45px;
	}	
}

.mobile-navbar {
	position: relative;
	display: none;
}

@include media-breakpoint-down("xl") {
	.navbar li:not(:last-child) {
		margin-right: 20px;
	}
}	

@include media-breakpoint-down("md") {
	.navbar {
		padding: 40px 0 0;
	}

	.desktop-navbar {
		display: none;
	}

	.mobile-navbar {
		display: block;
	}
}

.nav-hamburger {
	position: relative;

	input {
		display: block;
		width: 34px;
		height: 43px;
		position: absolute;
		top: -5px;
		left: -5px;
		
		cursor: pointer;
		opacity: 0;
		z-index: 1;
	}

	div {
		display: block;
		width: 24px;
		height: 3px;
		background: $grayish-violet;

		&:not(:last-child) {
			margin-bottom: 6px;
		}
	}
}

#mobile-menu-dropdown {
	position: absolute;
	width: 100%;
	margin-top: 30px;
	overflow-y: hidden;
	max-height: 0;
	@include ease-transition(max-height, 0.5s);

	&.visible {
		display: block; 
		max-height: 1000px;
	}

	ul {
		background-color: $dark-violet;
		border-radius: 10px;
		padding: 35px;
		text-align: center;
	}

	li:not(:last-child) {
		margin-bottom: 25px;
	}
	
	.nav-link {
		color: $white;
	}

	.btn {
		width: 100%;
		font-size: $normal-font-size;
	}

	hr {
		border-color: rgba($white, 20%);
	}
}