// Primary
$cyan: hsl(180, 66%, 49%);
$dark-violet: hsl(260, 27%, 24%);

// Secondary
$red: hsl(0, 87%, 67%);

// Neutral
$white: hsl(0, 0%, 100%);
$gray: hsl(0, 0%, 75%);
$grayish-violet: hsl(257, 7%, 63%);
$very-dark-blue: hsl(255, 11%, 22%);
$very-dark-violet: hsl(260, 8%, 14%);

// Extra
$pale-cyan: hsl(180, 57%, 73%);
