@mixin ease-transition($property) {
	-webkit-transition: 0.3s ease-in-out $property;
	-moz-transition: 0.3s ease-in-out $property;
	-ms-transition: 0.3s ease-in-out $property;
	-o-transition: 0.3s ease-in-out $property;
	transition: 0.3s ease-in-out $property;
}
