@mixin ease-transition {
	-webkit-transition: 0.3s ease-in-out all;
	-moz-transition: 0.3s ease-in-out all;
	-ms-transition: 0.3s ease-in-out all;
	-o-transition: 0.3s ease-in-out all;
	transition: 0.3s ease-in-out all;
}
